<h1>Eatin Burgers in Paradise</h1>
<div class="row">
  <center>

    <div class="col-md-6">
      <h4>Lets Eat!</h4>

        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

    </div>

    <div class="col-md-6">
      <h4>Already eaten!</h4>

        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
              <span class="input-group-btn">
              </span>
            </div>
          {{/if}}
        {{/each}}

      </div>
  </center>
</div>